body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;

}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;

}

h2{
    color: #ffffff;
}

.texto-principal {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 500px;
    line-height: 60px;
    height: 100px;

}


main p {
    margin: 1em 0;
    text-align: justify;

}

.dicas {
    padding: 4em;
}

.dicas p {
    font-size: 1em;
    color: #000000;
    line-height: 1;

}
h3{
    font-size: 2em;
    color: black;
}
.dicas-titulo{
    font-size: 2em;
    text-align: left;
    color: #000000;
    line-height: 1;
    padding: 2em;
}