body {
    display: block;
    overflow-x: hidden;
    height: 100%;
    transform-style: preserve-3d;
}

main {
    padding: 0;
}

@-webkit-keyframes aparece {
    0% {
        transform: scale(0.0001);
        opacity: 0;
    }
}

@-webkit-keyframes float {
    from {
        top: -5px;
    }
    100% {
        top: 5px;
    }
}

@-webkit-keyframes float2 {
    from {
        top: 5px;
    }
    100% {
        top: -5px;
    }
}

.banner-twitter {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;

    width: 14em;
    padding: 1em 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #f35588;
    color: white;
    border: .25em solid black;

    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;

    -webkit-transform: translate(calc(0.707 * (3.5em - 100%) + 100%), calc(-0.707 * 100%)) rotate(45deg);
            transform: translate(calc(0.707 * (3.5em - 100%) + 100%), calc(-0.707 * 100%)) rotate(45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    animation: aparece 0.5s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.foto-home {
    height: 100px;
}

.secao-inicio {
    padding: 2em;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: black;
}

.saudacao em {
    color: #ffbbb4;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
            transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    position: relative;

    animation: float 1s infinite, float2 1s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.saudacao-ultima-linha:hover em {
    animation-play-state: paused;
}

.botao-index {
    font-size: 1.25em;
    background-color: #f35588;
    color: #FFFFFF;
    padding: .5em;
    border: .2em solid black;
    display: block;
    text-decoration: none;
    width: 40ch;
    text-align: center;
    margin: 2em auto;
    transition: text-shadow 0.5s, background-color 0.5s;
}

.botao-index:hover {
    text-shadow: 0 0 1em #FFAA99;
    background-color: #ffbbb4;
}

.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 2px 2px 2px #000000;
}

.trabalhos {
    background-color: #007944;
    background-image: linear-gradient(135deg, transparent, transparent 14px,
    rgba(0, 0, 0, 0.1) 14px, rgba(0, 0, 0, 0.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    border-top: .5em solid #000000;
    border-bottom: .5em solid #000000;
}

.trabalhos h2 {
    color: #FFFFFF;
}

.trabalhos ul {
    display: flex;
}

.trabalhos li {
    flex: 1;
    border: .5em solid #000000;
}

.trabalhos li:first-child {
    transform: scale(1.2);
    order: 2;
}

.trabalhos li:nth-child(2) {
    order: 1;
}

.trabalhos li:last-child {
    order: 3;
}

.trabalhos img {
    width: 100%;
    max-height: 230px;
    display: block;
}

.blog {
    background-color: #71A95A;
    background-image: linear-gradient(45deg, transparent, transparent 14px,
    rgba(255, 255, 255, 0.1) 14px, rgba(255, 255, 255, 0.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    color: #FFFFFF;
    border-bottom: .5em solid #ffbbb4;
    position: relative;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li {
    width: 30%;
}

.blog li a {
    color: #FFCCFF;
    padding: .5em;
    display: block;
}

.blog .inicio-post {
    display: none;
    position: absolute;
    top: 6em;
    left: 30%;
    right: 4em;
    height: 8em;
    background-color: #FFFFFF;
    color: black;
    padding: 1.5em;
}

.blog li a:hover,
.blog li a:focus {
    background-color: #FFFFFF;
    color: #f35588;
}

.blog li a:hover + .inicio-post,
.blog li a:focus + .inicio-post {
    display: block;
}

footer {
    background-color: black;
    color: #FFFFFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #ffbbb4;
}

footer a:hover {
    color: #f35588;
}
