body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

h1, h2, .subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.titulo-principal {
    text-align: center;
    background: #ffbbb4;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}
